@import "color.scss";
.coinflip {
    .classBetsSet {
        display: grid;
        grid-template: 1fr / 50px auto 50px auto 50px auto;
        align-items: center;
        justify-items: center;
        background-color: $color3;
        padding: 15px;
        .minBet {
            font-weight: 600;
        }
        img {
            margin: 9px 11px;
            width: 25px;
        }

        > span {
            font-size: 12pt;
        }
    }
    #exampleModalLabel {
        font-size: 15pt;
    }
    .cf-inventory {
        padding: 20px;
    }
    .allitem {
        margin-top: 10px;
        .item {
            display: flex;
            flex-direction: column;
            width: 100px;
            background-color: #0000002e;
            border-radius: 5px;
            margin-left: 3px;
            margin-right: 3px;
            > span {
                font-size: 10pt;
                text-align: center;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                line-height: normal;
                background-color: #00000030;
                border-radius: 0 0 5px 5px;
            }
            .title {
                border-radius: 5px 5px 0 0;
            }
        }
    }
    .table {
        background-color: $color2;
        .head {
            height: 50px;
        }
        .panel {
            height: 70px;
            border-top: 1px solid rgba(223, 223, 223, 0.289);
        }
        .itemBet {
            display: flex;
            justify-content: center;
            align-items: center;
            .item {
                background-color: $backcolorBet;
                margin-right: 10px;
                display: flex;
                flex-direction: column;
                border-radius: 6px;
                img {
                    width: 65px;
                }
                span {
                    background-color: #1e2831;
                    text-align: center;
                    border-radius: 0 0 6px 6px;
                    font-size: 10pt;
                    padding: 3px;
                    width: 100%;
                }
            }
        }

        span:nth-child(4) {
            width: 25%;
        }
        span:nth-child(5) {
            width: 40%;
            position: relative;
            img:first-child {
                position: absolute;
                left: 35%;
                bottom: 0px;
                z-index: 1;
                width: 17px;
            }
        }
        span:nth-child(2) {
            width: 45%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 40px;
                margin: 0px 7px;
            }
        }
        span:first-child {
            width: 33%;
        }
        span:last-child {
            width: 33%;
        }
        span {
            padding: 0;
        }
    }
    .modal-content {
        background-color: $color3;
    }
    .modal-header {
        border-bottom: 1px solid $fontColorWhite_trns_2;
    }
    .modal-footer {
        border-top: 1px solid $fontColorWhite_trns_2;
    }
    .windowWinners {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 15px;

        .Win {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            img {
                width: 100px;
            }
            span {
                width: auto;
                display: block;
                font-size: 16px;
                //line-height: 30px;
            }
            span:last-child {
                width: auto;
                display: block;
                font-size: 12px;
                //line-height: 30px;
            }
        }
    }
    .items {
        display: flex;
        justify-content: space-around;
        > div {
            flex: 1 1 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .title {
            padding: 10px;
            background-color: #00000021;
            border-radius: 5px 5px 0px 0px;
            span {
                margin: 0 10px;
            }
        }
    }
    .close {
        background-color: #353535;
        background-image: none;
    }
    .choice {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .choiceCommand {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 10px;
    }

    .sides-radio {
        height: 50px;
        display: flex;
        align-items: center;
        gap: 10px;
        &__side {
            & input[type="radio"] {
                display: none;
            }
            & label {
                box-sizing: content-box;

                background-size: cover;
                background-repeat: no-repeat;
                display: block;
                width: 40px;
                height: 40px;
                padding: 2px;
                border-radius: 50px;
                overflow: hidden;
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
                transition: none;
                cursor: pointer;
                border: 0px solid #ffe60000;
                transition: 0.2s;
                border: 3px solid rgb(49, 49, 49);
            }

            & input[type="radio"]:checked + label {
                border: 3px solid rgb(255, 255, 255);
            }
        }
        .left-side {
            background-image: url(../img/Coinflip_back.svg);

            background-color: $orange_dark;
        }
        .right-side {
            background-image: url(../img/Coinflip_front.svg);

            background-color: $blue_dark;
        }
    }
    .left-side {
    }
    .right-side {
    }

    @media (min-width: 576px) {
        .modal-dialog {
            max-width: 800px;
            margin: 1.75rem auto;
        }
    }
}
// МОНЕТКА //

$coin-diameter: 90px;
.coin {
    //background-color: $color2;

    &__container {
        height: 100px;
        display: flex;
        //flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__body {
        width: $coin-diameter;
        height: $coin-diameter;
        position: relative;
    }
    &__back-container {
    }
    &__front-container {
    }

    &__back-container,
    &__front-container {
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
    }

    &__back,
    &__front {
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        filter: drop-shadow(0 0 15px rgba(148, 148, 148, 0.473));
        overflow: hidden;
        border-radius: 50%;
        &:after {
            content: "";
            position: absolute;
            left: -$coin-diameter/2;
            bottom: 100%;
            display: block;
            height: $coin-diameter/1.5;
            width: $coin-diameter * 2;
            background: #fff;
            opacity: 0.3;
            animation: shine linear 2s infinite;
        }
    }
    &__back {
        background-color: $orange_dark;
        border-radius: 50%;
        transform: translate(180deg);

        background-image: url(../img/Coinflip_back.svg);
        background-size: cover;
    }
    &__front {
        background-color: $blue_dark;
        border-radius: 50%;
        background-image: url(../img/Coinflip_front.svg);
        background-size: cover;
    }
}
@keyframes shine {
    0%,
    15% {
        transform: translateY($coin-diameter * 2) rotate(-40deg);
    }
    50% {
        transform: translateY(-$coin-diameter) rotate(-40deg);
    }
}

@keyframes back-rotation {
    from {
        transform: rotateX(180deg);
    }
    to {
        transform: rotateX(540deg);
    }
}
@keyframes front-rotation {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(360deg);
    }
}

@keyframes back-rotation-2 {
    from {
        transform: rotateX(180deg);
    }
    to {
        transform: rotateX(360deg);
    }
}
@keyframes front-rotation-2 {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(180deg);
    }
}

@keyframes rail {
    from {
        //transform: translate(0, 0px);
        transform: scale(100%);
    }
    to {
        //transform: translate(0, -150px);
        transform: scale(200%);
    }
}

.animated-first {
    .coin__body {
        animation: rail 1s cubic-bezier(0.15, 0.62, 0.37, 1) 2;
        animation-direction: alternate;
        animation-delay: 0.5s;
    }
    .coin__back {
        transform: translate(0deg);
        animation: back-rotation 0.9s linear 2;
        animation-fill-mode: forwards;
        animation-delay: 0.5s;
    }
    .coin__front {
        transform: translate(0deg);
        animation: front-rotation 0.9s linear 2;
        animation-fill-mode: forwards;
        animation-delay: 0.5s;
    }
}

.animated-second {
    .coin__body {
        animation: rail 0.65s cubic-bezier(0.15, 0.62, 0.37, 1) 2;
        animation-direction: alternate;
        animation-delay: 0.5s;
    }
    .coin__back {
        transform: translate(0deg);
        border-radius: 50%;
        animation: back-rotation 0.9s linear 1.5;
        animation-fill-mode: forwards;
        animation-delay: 0.5s;
    }
    .coin__front {
        transform: translate(0deg);
        border-radius: 50%;
        animation: front-rotation 0.9s linear 1.5;
        animation-fill-mode: forwards;
        animation-delay: 0.5s;
    }
}

.win-first {
    .coin__back {
        transform: translate(180deg);
    }
    .coin__front {
        transform: translate(0deg);
    }
}

.win-second {
    .coin__back {
        transform: translate(0deg);
    }
    .coin__front {
        transform: translate(180deg);
    }
}

.bi-eye::before {
    color: white;
    font-size: 28px;
}
.bi-box-arrow-in-right::before {
    color: white;
    font-size: 28px;
    transform: translate(-3px, 0);
}
