@import "color.scss";
.coinflip {
    .classBetsSet {
        display: grid;
        grid-template: 1fr / 50px auto 50px auto 50px auto;
        align-items: center;
        justify-items: center;
        background-color: $color3;
        padding: 15px;
        .minBet {
            font-weight: 600;
        }
        img {
            margin: 9px 11px;
            width: 25px;
        }

        > span {
            font-size: 12pt;
        }
    }
    .modal-content {
        background-color: $color3;
    }
    .modal-header {
        border-bottom: 1px solid $fontColorWhite_trns_2;
    }
    .modal-footer {
        border-top: 1px solid $fontColorWhite_trns_2;
    }
    .close {
        background-color: #353535;
        background-image: none;
    }
    .choice {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .sides {
        .left-side {
            background: url(https://play.d2d-roulette.com/img/cf-left-big.png)
                no-repeat 50%;
            display: block;
            width: 40px;
            height: 40px;
            padding: 2px;
            float: left;
            margin: 0 5px;
            border-radius: 40px;
            overflow: hidden;
            box-shadow: inset 0 0 10px 3px #000;
            transition: none;
            cursor: pointer;
        }
        .right-side {
            background: url(https://play.d2d-roulette.com/img/cf-right-big.png)
                no-repeat 50%;
            display: block;
            width: 40px;
            height: 40px;
            padding: 2px;
            float: left;
            margin: 0 5px;
            border-radius: 40px;
            overflow: hidden;
            box-shadow: inset 0 0 10px 3px #000;
            transition: none;
            cursor: pointer;
        }
        .selected {
            border: 2px solid #f6e444;
            padding: 0;
        }
    }
    .choiceCommand {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    @media (min-width: 576px) {
        .modal-dialog {
            max-width: 800px;
            margin: 1.75rem auto;
        }
    }
}

.coin {
    background-color: $color2;
    &__container {
        height: 100px;
        display: flex;
        //flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__body {
        width: 80px;
        height: 80px;
        position: relative;
    }
    &__back-container {
    }
    &__front-container {
    }

    &__back-container,
    &__front-container {
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
    }

    &__back,
    &__front {
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        filter: drop-shadow(0 0 15px rgba(134, 121, 0, 0.473));
    }
    &__back {
        background-color: #f6e444;
        border-radius: 50%;
    }
    &__front {
        background-color: #f6e444;
        border-radius: 50%;
        background-image: url(Coinflip.svg);
        background-size: cover;
    }
}

@keyframes back-rotation {
    from {
        transform: rotateX(180deg);
    }
    to {
        transform: rotateX(540deg);
    }
}
@keyframes front-rotation {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(360deg);
    }
}

@keyframes rail {
    from {
        //transform: translate(0, 0px);
        transform: scale(100%);
    }
    to {
        //transform: translate(0, -150px);
        transform: scale(200%);
    }
}

.start {
    .coin__body {
        animation: rail 1s cubic-bezier(0.15, 0.62, 0.37, 1) 2;
        animation-direction: alternate;
    }
    .coin__back {
        border-radius: 50%;
        animation: back-rotation 1s linear 2;
        animation-fill-mode: forwards;
    }
    .coin__front {
        border-radius: 50%;
        animation: front-rotation 1s linear 2;
        animation-fill-mode: forwards;
    }
}
