@import "color.scss";
.coinflip {
    .classBetsSet {
        display: grid;
        grid-template: 1fr / 50px auto 50px auto 50px auto;
        align-items: center;
        justify-items: center;
        background-color: $color3;
        padding: 15px;
        .minBet {
            font-weight: 600;
        }
        img {
            margin: 9px 11px;
            width: 25px;
        }

        > span {
            font-size: 12pt;
        }
    }
    #exampleModalLabel {
        font-size: 15pt;
    }
    .cf-inventory {
        padding: 20px;
    }
    .allitem {
        margin-top: 10px;
        .item {
            display: flex;
            flex-direction: column;
            width: 100px;
            background-color: #0000002e;
            border-radius: 5px;
            margin-left: 3px;
            margin-right: 3px;
            > span {
                font-size: 10pt;
                text-align: center;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                line-height: normal;
                background-color: #00000030;
                border-radius: 0 0 5px 5px;
            }
            .title {
                border-radius: 5px 5px 0 0;
            }
        }
    }
    .table {
        background-color: $color2;
        .head {
            height: 50px;
        }
        .panel {
            height: 70px;
            border-top: 1px solid rgba(223, 223, 223, 0.289);
        }
        .itemBet {
            display: flex;
            justify-content: center;
            align-items: center;
            .item {
                background-color: $backcolorBet;
                margin-right: 10px;
                display: flex;
                flex-direction: column;
                border-radius: 6px;
                img {
                    width: 65px;
                }
                span {
                    background-color: #1e2831;
                    text-align: center;
                    border-radius: 0 0 6px 6px;
                    font-size: 10pt;
                    padding: 3px;
                    width: 100%;
                }
            }
        }

        span:nth-child(4) {
            width: 25%;
        }
        span:nth-child(5) {
            width: 40%;
            position: relative;
            img:first-child {
                position: absolute;
                left: 35%;
                bottom: 0px;
                z-index: 1;
                width: 17px;
            }
        }
        span:nth-child(2) {
            width: 45%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 40px;
                margin: 0px 7px;
            }
        }
        span:first-child {
            width: 33%;
        }
        span:last-child {
            width: 33%;
        }
        span {
            padding: 0;
        }
    }
    .modal-content {
        background-color: $color3;
    }
    .modal-header {
        border-bottom: 1px solid $fontColorWhite_trns_2;
    }
    .modal-footer {
        border-top: 1px solid $fontColorWhite_trns_2;
    }
    .windowWinners {
        display: flex;
        justify-content: space-evenly;
        
        .Win {
            display: flex;
            flex-direction: column;
            align-content: center;
            img {
                width: 100px;
            }
            span {
                width: auto;
                display: block;
                font-size: 16px;
                line-height: 30px;
            }
            span:last-child {
                width: auto;
                display: block;
                font-size: 12px;
                line-height: 30px;
            }
        }
    }
    .items{
        display: flex;
        justify-content: space-around;
        >div{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .title{
            padding: 10px;
            background-color: #00000021;
            border-radius: 5px 5px 0px 0px;
            span{
                margin: 0 10px;
            }
        }
    }
    .close {
        background-color: #353535;
        background-image: none;
    }
    .choice {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .sides {
        .left-side {
            background: url(https://play.d2d-roulette.com/img/cf-left-big.png) no-repeat 50%;
            display: block;
            width: 40px;
            height: 40px;
            padding: 2px;
            float: left;
            margin: 0 5px;
            border-radius: 40px;
            overflow: hidden;
            box-shadow: inset 0 0 10px 3px #000;
            transition: none;
            cursor: pointer;
        }
        .right-side {
            background: url(https://play.d2d-roulette.com/img/cf-right-big.png) no-repeat 50%;
            display: block;
            width: 40px;
            height: 40px;
            padding: 2px;
            float: left;
            margin: 0 5px;
            border-radius: 40px;
            overflow: hidden;
            box-shadow: inset 0 0 10px 3px #000;
            transition: none;
            cursor: pointer;
        }
        .selected {
            border: 2px solid #f6e444;
            padding: 0;
        }
    }
    .choiceCommand {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    @media (min-width: 576px) {
        .modal-dialog {
            max-width: 800px;
            margin: 1.75rem auto;
        }
    }
}
