$color1: #086ca2;
// $color2: #215baa8c;
// $color3: #152d4d8c;
$color2: #152c4bb0;
$color3: #1b578f;
$color5: rgb(24, 40, 49);
$orange: #ee7e21;
$orange_dark: #dd6300;
$blue: #8cc4db;
$blue_dark: #62aecc;

$colorButtonAcc: #0282be;
$borderBottom: #2f4353;
$backcolorBet: RGB(90 126 180 / 11%);

$fontColorWhite: #dfdfdf;
$fontColorWhite_trns: #dfdfdfaf;
$fontColorWhite_trns_2: rgba(223, 223, 223, 0.289);

$green_light: rgb(207, 250, 207);
$green_signal: rgb(26, 177, 46);
$red: rgb(220, 53, 69);
$black_3: rgb(49, 49, 49);
