$color1: #086CA2;
$color2: #203f58;
//$color3: #21333F;
$color3: #132633;
$color4: rgb(26, 51, 68);
$color5:rgb(24, 40, 49);
$orange: #D97957;
$blue: #8CC4DB;
// $color4: ;
// $color5: ;

$colorButtonAcc: #029bbe;
$borderBottom: #2f4353;
$backcolorBet: RGB(90 126 180 / 11%);

$fontColorWhite: #dfdfdf;
$fontColorWhite_trns: #dfdfdfaf;
$fontColorWhite_trns_2: rgba(223, 223, 223, 0.289);


$green_light: rgb(207, 250, 207);
$green_signal: rgb(26, 177, 46);
$red: rgb(220, 53, 69);
$black_3: rgb(49, 49, 49);

