@import "color.scss";
header {
    position: relative;
    background-color: $color3;
    //box-shadow: 0 6px 4px $green;
    //border-bottom: 3px solid $black_border;

    padding: 0 20px;
    z-index: 1600;
    color: $fontColorWhite_trns;
    

    a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
        color: $fontColorWhite_trns;
        transition: all 0.15s ease;

        &::before {
            display: block;
            position: absolute;
            z-index: 10;
            height: 2px;
            width: 10px;
            background: #fff;
        }
        &:hover {
            color: $colorButtonAcc;
        }
    }

    


    .nav-info {
        padding:20px 0;

        display: flex;
        align-items: center;
        justify-content: space-between;
        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            //border-right: 1px solid $borderBottom;
        }
        &__item-title {
            font-size: 2rem;
            font-weight: 600;
            line-height: 130%;
        } 
    }

    .nav-info-profile {

		&__grid {
            display: grid;
            grid-template: 1fr 1fr / auto repeat(3, auto);
            //justify-items: center;
            gap: 20px;
            

            
		}
        &__link {
            text-transform: uppercase;
            align-self: center;
        }

        .logout {
            justify-self: center;
        }

		&__avatar {
            grid-row: span 2;

            height: 100%;
            border-radius: 3px;
		}

		&__name {
            grid-column: span 2;

            font-size: 1.7rem;
            font-weight: 600;
            color: $fontColorWhite;
             
		}
    }


    .head-nav {
        display: grid;
        grid-template-columns: 1fr 3fr;
        align-items: center;
        height: 70px;

        border-bottom: 1px solid $fontColorWhite_trns_2;
        .nav {
            display: grid;
            justify-items: end;
            grid-template-columns: repeat(4, auto);
    
            &__item {
            }

        }
    }
}
