@import "color.scss";
.history {
    background-color: $color2;
    
    display: flex;
    flex-direction: column;
    padding: 20px;
    .title {
        font-size: 20pt;
        margin-bottom: 20px;
        text-align: center;
    }
    .playNumber{
        font-weight: 600;
        font-size: 20px;
    }
    .game {
        border: 1px solid rgba(223, 223, 223, 0.289);
        padding: 20px;

        display: flex;
        justify-content: space-between;
        &:nth-of-type(odd) {
            background: $color2;
        }
        .winTick {
            color: $colorButtonAcc;
        }
        .info_game {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            >span{
                font-size: 18px;
            }
            .status_items_comr_c {
                color: #08da03;
                display: block;
                position: relative;
                border: 1px solid #08da03;
                padding: 6px 10px 6px 40px;
                border-radius: 4px;
            }

            .status_items_comr_c:after {
                content: "";
                position: absolute;
                top: 8px;
                left: 12px;
                background: url(https://csgonoj.com/assets/images/ok.png) no-repeat;
                width: 14px;
                height: 10px;
            }
        }
        .leftBlock {
            display: flex;
            font-size: 16px;
            img {
                width: 25px;
                border-radius: 50%;
                margin: 0px 10px;
            }
            > div {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-right: 20px;
                span {
                    padding: 5px;
                }
            }
            .nick {
                display: flex;
                align-items: center;
            }
        }
    }
}
