@import "color.scss";

.process-bar {
    position: relative;
    //z-index: -2;
    display: inline-block;
    background-color: $color3;
    height: 80px;
    width: 100%;
    color: white;

    &__body {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        //z-index: -1;
        left: 10px;
        top: 10px;
        right: 10px;
        bottom: 10px;

        // background: rgb(235,86,33);
        background: linear-gradient(86deg, rgba(235,86,33,1) 8%, rgba(228,173,41,1) 61%);
        
    }

    &__inner-body {
        background-color: $color3;
        width: 100%;
        height: 100%;
    
    }

    &__info {
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &__number-of-bets {
        font-size: 33px;
        font-weight: 700;
        margin-bottom: 5px;
    }

    &__subtext {
    }
}

.jackpot {
    .infoPlay {
        background-color: $color2;
        .classBetsSet {
            display: grid;
            grid-template: 1fr / 50px auto 50px auto 50px auto;
            align-items: center;
            justify-items: center;
            background-color: $color3;
            padding: 15px;
            img {
                margin: 9px 11px;
            }
            
            > span {
                font-size: 12pt;
            }
        }
        .infoPlay-Info {
            display: flex;
            justify-content: center;
            font-size: 22pt;
            padding: 20px 0;
            > span {
                padding: 0 20px;
                &:last-child {
                    border-left: 1px solid rgba(223, 223, 223, 0.289);
                }
            }
        }
        .infoPlay-rull {
            padding: 20px;
            display: grid;
            grid-template: 1fr / 6fr 1fr 1fr;
            align-items: center;
            justify-items: center;
            //padding: 15px 0;
            .time {
                font-size: 35pt;
                display: flex;
                align-items: center;
            }
        }
    }
    .orange {
        color: $orange;
    }
    .blue {
        color: $blue;
    }
    .listUserBets {
        background-color: $color2;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-x: auto;
        > div {
            display: flex;
            flex-direction: column;
            margin: 10px 7px;
            img {
                width: 70px;
                border-radius: 3px;
            }
            > span {
                background: url(../img/iconUser.png) no-repeat;
                width: 78px;
                height: 30px;
                text-align: center;
                color: #fff;
                font-weight: 700;
                font-size: 16px;
                margin: -18px 0 0 -4px;
                padding: 9px 0 0 0;
            }
        }
    }
    .betsUser {
        background-color: $color3;
        padding: 20px;
        &:nth-of-type(odd) {
            background: $color4;
        }
        &_info {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 10px;
        }
        &_moreInfo {
            display: flex;
            align-items: center;
            font-size: 13pt;
            img {
                border-radius: 50%;
                width: 40px;
            }
            span {
                margin-left: 6px;
            }
        }
        &_bet {
            display: flex;
            flex-wrap: wrap;
            > div {
                background-color: $backcolorBet;
                margin-right: 10px;
                margin-bottom: 10px;
                display: flex;
                flex-direction: column;
                border-radius: 6px;
            }
            span {
                background-color: #1e2831;
                text-align: center;
                border-radius: 0 0 6px 6px;
                font-size: 13pt;
                padding: 5px;
            }
        }
        .tikets {
            display: flex;
            align-items: center;
            font-size: 13pt;
        }
    }
    .startGame {
        background-color: #222d35;
        text-align: center;
        font-size: 24px;
        padding: 20px;
        &::after {
            content: "";
            background-image: url(https://csgonoj.com/assets/images/game_start.png);
        }
    }
}
