@import "color.scss";

.main-input {
    outline: none;
    background-color: $color5;
    color: white;
    padding: 10px;
    font-size: 18px;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.363);
}
