@import "color.scss";

.main-btn-v2 {
    background-image: linear-gradient(
        to right,
        #f09819 0%,
        #ff522f 0%,
        #f09819 100%
    );

    //margin: 10px;
    //padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.164);
    border-radius: 2px;
    display: block;
    opacity: 1;
    height: 100%;
    width: 100%;
    cursor: pointer;

    &:hover {
        background-position: right center;
        color: #fff;
        text-decoration: none;
    }
    &:active {
        background-position: right center;
        opacity: 0.6;
    }
}
