@import "color.scss";
.ref {
    background-color: $color2;
    padding: 20px;
    width: 100%;

    display: grid;

    grid-template: 70px 80px / 1fr 1fr;
    gap: 50px;
    &__item {
        display: grid;
        grid-template: auto auto / 1fr;
        gap: 0px;
    }
    .ref-item {
        &__body {
            display: grid;
            grid-template: 1fr / 1fr 1fr;
            //gap: 20px;
        }
        &__title {
            font-size: 1.5rem;
            font-weight: 400;
            margin-bottom: 10px;
        }
    }

    .ref-code {
        grid-template: 1fr/ 6fr 65px 3fr;

        .ref__btn {
            padding: 5px 0;
            border-radius: 0;

            & img {
                transition: 0.2s;
                height: 25px;
            }
        }
        .edit-btn {
            background: $color2;
            transition: 0.2s;

            &:hover {
                filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.336));
                & img {
                    filter: drop-shadow(0 5px 10px rgb(0, 0, 0));
                }
            }
        }
    }

    .main-item {
        grid-column: span 2;
        grid-template: 1fr / 1fr 1fr;
        gap: 0;
    }
    .buttonsWithdraw {
        display: flex;
    }
    .balanceref {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        &__balance {
            font-size: 47pt;
            margin-right: 10px;
        }
    }
    p {
        font-size: 19pt;
        text-align: justify;
    }
    .table {
        grid-column: span 2;
        background-color: $color3;
    }
}
