@import "color.scss";
////////dsfsdf
.room {
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        //opacity: 0.4;
        z-index: 1;
        background-color: $color3;
        transition: all 0.2s ease;
    }

    flex: 1 1 auto;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    color: white;

    transition: all 0.2s ease;

    &__grid {
        display: grid;
        grid-template: 1fr 1fr / auto 1fr;
        column-gap: 10px;
        z-index: 2;
    }

    &__icon {
        height: 45px;
        width: 45px;

        grid-row: span 2;
        & img {
            height: 45px;
        }
    }

    &__title {
        font-weight: 700;
        
    }

    &__stavka {
    }

    &.active {
        &::before {
            opacity: 0;
        }
        &:hover {
            &::before {
                opacity: 0;
            }
        }
    }
    &:hover {
        box-shadow: 0 0px 20px rgba(0, 0, 0, 0.514);
        color: #fff;
        //box-shadow: 0 0 15px rgba(0, 0, 0, 0.315);
        &::before {
            opacity: 0.5;
        }
    }

    &:active {
        transform: scale(92%);
        opacity: 0.9;
        box-shadow: none;
        //background-position: right center; /* change the direction of the change here */
    }

    //// specific rooms ////
    &.Classic {
        background-color: #4158d0;
        background-image: linear-gradient(132deg, #e44d26 0%, #f16529 100%);
    }
    &.High {
        background-color: #f4d03f;
        background-image: linear-gradient(132deg, #bef43f 0%, #06a081 100%);
    }
    &.Coinflip {
        background-color: #fad961;
        background-image: linear-gradient(135deg, #fdc830 0%, #f37335 100%);
    }
    &.FastGame {
        background-color: #fad961;
        background-image: linear-gradient(135deg, #da4453 0%, #89216b 100%);
    }
}

//////////////////

.rooms {
    position: relative;

    //&::after {
    //    position: absolute;
    //    content: "";
    //    width: 50px;
    //    height: 50px;
    //    background: #dfdfdf94;
    //    bottom: 5px;
    //    left: 5px;
    //    z-index: 1;
    //    border-radius: 30%;
    //}

    &__grid {
        background-color: $color3;
        display: grid;
        grid-template: 1fr 1fr / auto 1fr;
        //column-gap: 20px;
        //row-gap: 10px;
        grid-template-areas:
            "ttf rooms"
            "rust rooms";
    }

    &__game-icon {
        z-index: 2;
        padding: 5px;
        //margin: 5px;
        overflow: hidden;
        //border-radius: 30%;

        transition: 0.2s;
        & img {
            height: 40px;
            filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.4));

            transition: 0.2s;
        }

        &:hover {
            //filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.5));

            & img {
                filter: drop-shadow(0px 6px 5px rgba(0, 0, 0, 0.5));
                transform: translate(0, -3px);
            }
        }
        &:active {
            & img {
                opacity: 0.6;
                filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.4));
                transform: translate(0, 0);
            }
        }
    }

    .active-mode {
        background: #dfdfdf94;
    }

    &__row {
        //height: 110%;
        grid-area: rooms;

        display: flex;
        //overflow: hidden;
        //justify-content: space-evenly;
        //align-items: center;
    }
    .ttf {
        grid-area: ttf;
        align-self: end;
    }

    .rust {
        grid-area: rust;
        align-self: start;
    }
}
