@import "color.scss";
///////////
.room {
    flex: 1 1 auto;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    color: white;
    transition: 0.2s;

    &:hover {
        color: rgba(228, 228, 228, 0.842);
        background: $color3;
        box-shadow: 0 0 15px rgba(46, 46, 46, 0.616);
    }

    &__grid {
        display: grid;
        grid-template: 1fr 1fr / auto 1fr;
        column-gap: 10px;
    }

    &__icon {
        height: 45px;
        width: 45px;

        grid-row: span 2;
        & img {
            height: 45px;
        }
    }

    &__title {
        font-weight: 700;
    }

    &__stavka {
    }
}
//////////////////

.rooms {
    &__grid {
        padding: 0 0 0 20px;

        display: grid;
        grid-template: 55px 55px / auto 1fr;
        column-gap: 20px;
        row-gap: 10px;
        grid-template-areas:
            "ttf rooms"
            "rust rooms";
    }

    &__game-icon {
        & img {
            height: 40px;
        }
    }
    &__row {
        //height: 110%;
        grid-area: rooms;

        display: flex;
        //justify-content: space-evenly;
        //align-items: center;
        .active {
            color: rgba(228, 228, 228, 0.842);
            background: $color3;
            box-shadow: 0 0 15px rgba(46, 46, 46, 0.616);
        }
    }
    .ttf {
        grid-area: ttf;
        align-self: end;
    }

    .rust {
        grid-area: rust;
        align-self: start;
    }
}
