@import "color.scss";

.open-support-chat {
    display: none;
    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: 2000;
    //background-color: $fontColorWhite;
    box-shadow: 0px 0px 4px $fontColorWhite;
    border-radius: 25px;
    padding: 16px;
    font-weight: 700;
    & img {
        height: 20px;
    }
    @media (max-width: 1400px) {
        display: inline-block;
    }
    @media (max-width: 426px) {
        bottom: 20px;
        right: 20px;
    }
}

.support-chat {
    position: relative;

    width: 100%;
    overflow: hidden;

    background-color: $color4;
    color: $fontColorWhite;
    height: 600px;
    display: flex;

    &__header {
        background-color: $color3;
        padding: 14px 24px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.63);
        z-index: 100;

        display: flex;
        justify-content: center;
    }

    &__title {
        text-align: center;
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 23px;
        color: #ff7423e3;
        //filter: drop-shadow(0px 0px 2px $blue);
        //text-transform: uppercase;
        padding: 5px 0;
    }

    &__close {
        font-size: 50px;
        line-height: 25px;
        color: $fontColorWhite;
        transform: translate(0, -12%);

        display: none;
    }

    &__row {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__messages {
        flex: 1 1 auto;

        padding: 12px 12px 15% 12px;
    }

    &__send {
    }
}
.messages {
    overflow-y: auto;

    &__body {
    }

    &__row {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__item {
        margin: 0 0 10px 0;
    }
}
.item {
    max-width: 80%;
    &__body {
    }

    &__grid {
        display: grid;

        grid-template-columns: 1fr;
        grid-template-rows: 35px 1fr;
        grid-template-areas:
            "name"
            "msg";
    }

    &__name {
        //margin: 0 0 0 10px;
        font-weight: 400;
        font-size: 18px;
        align-self: center;

        grid-area: name;
    }
    &__delete {
        //margin: 0 0 0 10px;
        padding: 0 10px;
        cursor: pointer;
        font-size: 18pt;
        color: red;
        grid-area: name;
    }

    &__msg {
        background-color: $color3;
        //box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
        border-radius: 6px;
        padding: 10px;
        grid-area: msg;

        font-size: 15px;
        line-height: 1.5rem;
    }
}

.my-message {
    align-self: flex-end;
    max-width: 70%;
    margin: 10px 0;

    .item__body {
    }

    .item__grid {
        //display: inline-block;
    }

    .item__avatar {
        //display: none;
    }

    .item__name {
        display: none;
    }

    .item__msg {
        background-color: $borderBottom;
        //font-size: 13px;
    }
}

.send {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    display: grid;
    grid-template-columns: 1fr 12fr 1fr;

    //box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.63);

    &__text {
        resize: none;
    }
    &__attach-photo {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    &__attach-photo-icon {
        transition: 0.2s;
        &:hover {
            opacity: 0.7;
        }
        &:active {
            opacity: 0.5;
        }
        position: relative;
        & img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 30px;
            border-radius: 2px;
        }
    }

    &__attach-photo + &__attach-photo-icon {
        background-color: $color5;
        cursor: pointer;
    }

    &__btn {
        text-align: center;
        padding: 0px;
        opacity: 1;
        background-color: $color5;

        & img {
            height: 30px;
        }
    }
}

.support-chat-active {
    display: flex;
}
